/* Especificando que é uma folha de estilo para telas que tenham uma
largura máxima de 420px */
@media (max-width: 420px) {
  * {
    letter-spacing: -0.03rem;
  }

  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  header {
    width: 100vw;
    padding: 16px 0px;
    /* border:1px solid; */
  }

  header nav {
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    padding: 16px 0px;
    /* z-index: 1; */
    /* flex-direction: column; */
    justify-content: space-between;
    /* background-color: var(--azul-principal); */
    z-index: 999999;
  }

  header nav .logo {
    width: 104px;
  }

  header nav .nav ul {
    width: 40vw;
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    row-gap: 40px;
    justify-content: space-between;
  }

  header nav .nav ul li .nav-title {
    font-size: 16px;
  }

  header nav .nav .nav-item {
    height: 92vh;
  }

  header nav .nav .slow {
    /* height: 92vh; */
  }

  main {
    row-gap: 3rem;
  }

  main .section-inicio {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 0;
    margin-bottom: 3rem;
    /* border: 1px solid magenta;    */
  }

  main .section-inicio .text-inicio {
    width: 100%;
    /* height:300px; */
  }

  main .section-inicio .text-inicio .title-inicio {
    width: 125%;
    font-size: 32px;
    /* width: fit-content; */
    /* border: 1px solid; */
    line-height: 50px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    display: flex;
    margin-left: 23.5vw;
    width: 70vw;
    flex-direction: column;
    /* border: 1px solid; */
    margin-top: -23%;
  }

  main .section-inicio .text-inicio h1 .wrapper .dynamic-txts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    font-size: 30px;
  }

  main .section-inicio .text-inicio h1 .dynamic-txts li {
    list-style: none;
    color: #ffffff;
    /* font-size: 50px; */
    /* font-weight: 700; */
    position: relative;
    /* top: -5%; */
    animation: slide 12s steps(4) infinite;
  }

  main .section-inicio .text-inicio h1 .dynamic-txts li span {
    position: relative;
    line-height: 90px;
  }

  @keyframes typing {
    40%,
    60% {
      left: calc(100% + 35px);
    }

    100% {
      left: 0;
    }
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }

  main .section-inicio .image-inicio {
    width: 100%;
    height: fit-content;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  main .section-inicio .image-inicio .background-inicio {
    position: absolute;
    width: auto;
    height: 168px;
    right: 0;
    margin-top: 45%;
    z-index: 1;
  }

  main .section-servicos .content-servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 3px;
  }

  main .section-servicos .content-servicos .card-servicos {
    row-gap: 1.5rem;
    max-width: 224px;
    height: 288px;
    padding: 1.5rem;
  }

  main .section-servicos .content-servicos .card-servicos .txt-info {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
  }

  main .section-servicos .content-servicos .card-servicos .txt-gradient {
    font-size: 18px;
    line-height: 18px;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos {
    width: 64px;
    height: 64px;
    padding: 0.5rem;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos
    .img-servico {
    width: 48px;
    height: 48px;
  }

  main .section-produto {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:   3rem; */
  }

  main .section-produto .content-produto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 96px;
  }

  main .section-produto .content-produto .image-produto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .section-produto .content-produto .image-produto .background-produto {
    position: absolute;
    width: 100%;
    height: 288px;
    left: -5%;
    margin-top: 30%;
  }

  main
    .section-produto
    .content-produto
    .image-produto
    .circle-produtos
    .img-produto {
    width: auto;
    height: 40px;
  }

  main .section-produto .content-produto .image-produto .circle-produtos {
    /* position: relative; */
    height: 160px;
    width: 160px;
  }

  main .section-produto .content-produto .informacoes-produto {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 24px;
  }

  main .section-produto .content-produto .informacoes-produto .txt-gradient {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.07rem;
  }

  main .section-produto .content-produto .informacoes-produto .texto-produto {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  main
    .section-produto
    .content-produto
    .informacoes-produto
    .texto-produto
    .txt-descricao-produto {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }

  main .section-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }

  main .section-quem-somos .content-quem-somos {
    width: 100%;
  }

  main .section-quem-somos .content-quem-somos .background-quem-somos {
    position: absolute;
    width: 100%;
    height: 350px;
    right: -20%;
    top: 315%;
    z-index: 999;
  }

  main .section-quem-somos .content-quem-somos .grid-quem-somos {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    z-index: 999;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos {
    position: relative;
    background-color: white;
    max-width: 238px;
    height: 176px;
    row-gap: 20px;
    box-shadow: -10px 4px 2px rgba(0, 0, 0, 0.15);
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .img-quem-somos {
    margin-top: -30%;
    height: 96px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .title-quem-somos {
    font-size: 18px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .subtitle-quem-somos {
    font-size: 16px;
    line-height: 16px;
  }

  main .section-contato form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  main .section-contato form .input iconify-icon {
    font-size: 16px;
    margin-left: -40px;
  }

  main .section-contato form input,
  main .section-contato form textarea {
    width: 65vw;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          100deg,
          rgba(149, 49, 224, 1) 0%,
          rgba(56, 236, 233, 1) 100%
        )
        border-box;
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 8px 24px;
    height: 28px;
    font-size: 14px;
  }

  main .section-contato form .input-contato-descricao {
    height: 96px;
    resize: none;
    padding: 14px 24px;
    border-radius: 1.5rem;
  }

  button {
    padding: 0px 24px;
    height: 42px;
    border-radius: 100px;
  }

  .btn-background {
    letter-spacing: 0rem;
    font-size: 15px;
  }

  .btn-border {
    font-size: 15px;
  }

  h1 {
    font-size: 24px;
  }

  footer {
    width: 100%;
    /* height:800px; */
    /* max-height: 210px; */
    background-position-x: 0%;
    background-image: url("./../assets/img/Vetor\ -\ Footer.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 3rem; */
  }

  footer .footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-itens: center;
    justify-content: center;
    margin-top: 8rem;
    row-gap: 2rem;
    color: #f5f5f5;
  }

  footer .footer-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    /* justify-content: flex-start; */
  }

  footer .footer-redes-sociais .logo-footer {
    height: 64px;
  }

  footer .footer-redes-sociais .redes-sociais {
    display: flex;
    column-gap: 1rem;
  }

  footer .footer-redes-sociais .redes-sociais .circle-footer {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    position: relative;
    font-size: 32px;
  }

  footer .footer-ul {
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 24px;
    width: 80%;
    margin: 0 auto;
  }

  footer .footer-ul ul {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
  }

  footer .footer-ul li a,
  footer .footer-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--branco-opacidade);
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    row-gap: 32px;
    column-gap: 16px;
    font-size: 16px;
    transition: all 0.4s linear;
  }

  footer .footer .footer-ul li {
    width: 100%;
  }

  footer .footer li a:hover {
    color: var(--branco);
  }

  footer .footer .footer-ul iconify-icon,
  footer .footer span {
    color: var(--branco-opacidade);
  }

  footer .footer .footer-ul iconify-icon {
    font-size: 18px;
  }

  footer .footer .footer-ul:last-child {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-itens: flex-start;
  }

  footer .copyright {
    width: 80%;
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--branco);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  footer .footer-ul .footer-title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--texto-branco);
    font-size: 24px;
    font-weight: 600;
  }
}

@media (max-height: 667px) and (max-width: 500px) {
  main .section-inicio .text-inicio .title-inicio {
    font-size: 32px;
    line-height: 56px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    margin-left: 88px;
    margin-top: -72px;
  }

  main .section-inicio .text-inicio h1 .wrapper .dynamic-txts {
    font-size: 32px;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  main .section-inicio .image-inicio .background-inicio {
    height: 200px;
    right: 0;
    margin-top: 100%;
  }
}

@media (max-height: 932px) and (max-width: 500px) {
  main .section-inicio {
    margin-bottom: 3rem;
  }

  main .section-inicio .text-inicio {
    width: 95%;
    margin-bottom: 1rem;
  }

  main .section-inicio .text-inicio .title-inicio {
    font-size: 34px;
    line-height: 56px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    margin-left: 88px;
    margin-top: -72px;
  }

  main .section-inicio .text-inicio h1 .wrapper .dynamic-txts {
    font-size: 30px;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  main .section-inicio .image-inicio .background-inicio {
    height: 228px;
    right: -32px;
    margin-top: 80px;
  }
}
