/* Especificando que é uma folha de estilo para telas que tenham uma
largura máxima de 768px */
@media (max-width: 768px) {
  * {
    letter-spacing: -0.03rem;
  }

  header {
    width: 100vw;
    padding: 0px 0px;
  }

  header nav {
    padding: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: var(--azul-principal); */
  }

  header nav ul {
    width: 40vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    justify-content: space-between;
  }

  header nav ul li .nav-title {
    font-family: "Poppins";
    font-size: 14px;
  }

  header nav ul a {
    transition: all 0.4s linear;
  }

  header nav ul a:hover {
    background: linear-gradient(
      100deg,
      rgba(149, 49, 224, 1) 0%,
      rgba(56, 236, 233, 1) 100%
    );
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  main {
    row-gap: 3rem;
  }

  main .section-inicio {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    /* border: 1px solid magenta;    */
  }

  main .section-inicio .text-inicio {
    width: 100%;
  }

  main .section-inicio .text-inicio .title-inicio {
    width: 105%;
    font-size: 48px;
    /* width: fit-content; */
    /* border: 1px solid; */
    line-height: 72px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    display: flex;
    margin-left: 23.5vw;
    width: 60vw;
    flex-direction: column;
    /* border: 1px solid; */
    margin-top: -20%;
  }

  main .section-inicio .text-inicio h1 .wrapper .dynamic-txts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  main .section-inicio .text-inicio h1 .dynamic-txts li {
    list-style: none;
    color: #ffffff;
    /* font-size: 50px; */
    /* font-weight: 700; */
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  main .section-inicio .image-inicio {
    width: 100%;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
  }
  main .section-inicio .image-inicio .background-inicio {
    position: absolute;
    width: auto;
    height: 288px;
    right: 0;
    margin-top: 30%;
    z-index: 1;
  }

  main .section-servicos .content-servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 12px;
  }

  main .section-servicos .content-servicos .card-servicos {
    row-gap: 1rem;
    max-width: 232px;
    height: 250px;
    padding: 1rem;
  }

  main .section-servicos .content-servicos .card-servicos .txt-info {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }

  main .section-servicos .content-servicos .card-servicos .txt-gradient {
    font-size: 16px;
    line-height: 16px;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos {
    width: 48px;
    height: 48px;
    padding: 1rem;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos
    .img-servico {
    width: 48px;
  }

  main .section-produto {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:   3rem; */
  }

  main .section-produto .content-produto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 96px;
  }

  main .section-produto .content-produto .image-produto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .section-produto .content-produto .image-produto .background-produto {
    position: absolute;
    width: 100%;
    height: 280px;
    left: -5%;
    margin-top: 40%;
  }

  main
    .section-produto
    .content-produto
    .image-produto
    .circle-produtos
    .img-produto {
    width: 54vw;
    height: auto;
  }

  main .section-produto .content-produto .image-produto .circle-produtos {
    /* position: relative; */
    height: 40vw;
    width: 40vw;
  }

  main .section-produto .content-produto .informacoes-produto {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 24px;
  }

  main .section-produto .content-produto .informacoes-produto .txt-gradient {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.07rem;
  }

  main .section-produto .content-produto .informacoes-produto .texto-produto {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  main
    .section-produto
    .content-produto
    .informacoes-produto
    .texto-produto
    .txt-descricao-produto {
    font-size: 14px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }

  main .section-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }

  main .section-quem-somos .content-quem-somos {
    width: 100%;
  }

  main .section-quem-somos .content-quem-somos .background-quem-somos {
    position: absolute;
    width: 100%;
    height: 350px;
    right: -20%;
    top: 315%;
    z-index: 999;
  }

  main .section-quem-somos .content-quem-somos .grid-quem-somos {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    z-index: 999;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos {
    position: relative;
    background-color: white;
    max-width: 212px;
    height: 142px;
    row-gap: 16px;
    box-shadow: -10px 4px 2px rgba(0, 0, 0, 0.15);
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .img-quem-somos {
    margin-top: -30%;
    height: 88px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .title-quem-somos {
    font-size: 16px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .subtitle-quem-somos {
    font-size: 14px;
    line-height: 16px;
  }

  main .section-contato form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  main .section-contato form .input iconify-icon {
    font-size: 16px;
    margin-left: -40px;
  }

  main .section-contato form input,
  main .section-contato form textarea {
    width: 60vw;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          100deg,
          rgba(149, 49, 224, 1) 0%,
          rgba(56, 236, 233, 1) 100%
        )
        border-box;
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 6px 20px;
    height: 24px;
    font-size: 12px;
  }

  main .section-contato form .input-contato-descricao {
    height: 96px;
    resize: none;
    padding: 14px 20px;
    border-radius: 1.5rem;
  }

  button {
    padding: 0px 20px;
    height: 36px;
    border-radius: 100px;
  }

  .btn-background {
    letter-spacing: 0rem;
    font-size: 12px;
  }

  .btn-border {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }
}
