@media (max-width: 1178px) {
  body {
    /* transform: scale(0); */
  }

  main .section-inicio .image-inicio .background-inicio {
    position: absolute;
    width: auto;
    height: 344px;
    right: -10%;
    /* margin-top: 15%; */
    z-index: 1;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin-right: -15%;
  }

  main .section-inicio .text-inicio h1 {
    font-size: 42px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    margin-left: 108px;
  }
  main .section-produto {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:   3rem; */
  }

  main .section-produto .content-produto {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  main .section-produto .content-produto .image-produto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  main .section-produto .content-produto .image-produto .background-produto {
    position: absolute;
    width: 100%;
    height: 308px;
    left: -30%;
    margin-top: 15%;
  }

  main
    .section-produto
    .content-produto
    .image-produto
    .circle-produtos
    .img-produto {
    width: auto;
    height: 40px;
  }

  main .section-produto .content-produto .image-produto .circle-produtos {
    /* position: relative; */
    height: 168px;
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.25) 20%,
      rgba(243, 243, 243, 0.25) 100%
    );
    backdrop-filter: blur(70px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* margin-left: -80%; */
  }

  main .section-produto .content-produto .informacoes-produto {
    width: 65%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 24px;
  }

  main .section-produto .content-produto .informacoes-produto .txt-gradient {
    width: fit-content;
    font-size: 28px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.07rem;
  }

  main .section-produto .content-produto .informacoes-produto .texto-produto {
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  main
    .section-produto
    .content-produto
    .informacoes-produto
    .texto-produto
    .txt-descricao-produto {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }

  main .section-produto .content-produto .informacoes-produto .botao-produto {
    width: 80%;
  }
}

@media (max-width: 940px) {
  main .section-inicio {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    /* border: 1px solid magenta;    */
  }

  main .section-inicio .text-inicio {
    width: fit-content;
    margin: 0 auto;
  }

  main .section-inicio .text-inicio h1 {
    font-size: 52px;
    letter-spacing: -0.15rem;
    line-height: 80px;
    margin-left: 8px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    margin-left: 144px;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
    height: 344px;
  }

  main .section-inicio .image-inicio .background-inicio {
    position: absolute;
    width: auto;
    height: 400px;
    right: 0%;
    margin-top: 10%;
    z-index: 1;
  }
}

/* Especificando que é uma folha de estilo para telas que tenham uma
largura máxima de 768px */
@media (max-width: 768px) {
  * {
    letter-spacing: -0.03rem;
  }

  header {
    width: 100%;
    height: 64px;
    padding: 24px 0px;
    display: flex;
    align-items: center;
  }

  header nav {
    width: 85%;
    /* height: 100%; */
    margin: 0 auto;
    /* border:1px solid magenta; */
    display: flex;
    justify-content: space-evenly;
    /* background-color: var(--azul-principal); */
  }

  header nav .logo {
    width: 152px;
  }

  header nav .nav {
    width: 75%;
    /* height: 100vh; */
    display: flex;
    justify-content: flex-end;
    align-itens: center;
    /* background: magenta; */
  }

  header nav .nav .nav-item {
    width: 100vw;
    height: 90%;
    position: absolute;
    margin-top: 10%;
    left: 100%;
    transition: all 0.25s ease-in;
  }

  header nav .nav .slow {
    width: 100vw;
    height: 92vh;
    position: fixed;
    background-color: var(--branco-secundario);
    left: 0;
    margin-top: 8vh;
    transition: all 0.4s ease-in;
    display: flex;
    align-itens: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 48px;
  }

  header nav .nav ul {
    width: 40vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    justify-content: space-between;
    margin: 0 auto;
  }

  header nav .nav ul li .nav-title {
    font-size: 16px;
  }

  header nav .nav a {
    margin: 0 auto;
  }

  header nav .nav .menu {
    display: block;
    width: fit-content;
  }

  header nav .nav .menu iconify-icon {
    color: var(--roxo-secundario);
  }

  main {
    row-gap: 3rem;
  }

  main .section-inicio {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    /* border: 1px solid magenta;    */
  }

  main .section-inicio .text-inicio {
    width: fit-content;
    margin: 0 auto;
  }

  main .section-inicio .text-inicio .title-inicio {
    width: 100%;
    font-size: 48px;
    /* width: fit-content; */
    /* border: 1px solid; */
    line-height: 72px;
  }

  main .section-inicio .text-inicio h1 .wrapper {
    display: flex;
    margin-left: 128px;
    width: 60vw;
    flex-direction: column;
    /* border: 1px solid; */
    margin-top: -80px;
  }

  main .section-inicio .text-inicio h1 .wrapper .dynamic-txts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  main .section-inicio .text-inicio h1 .dynamic-txts li {
    list-style: none;
    color: #ffffff;
    /* font-size: 50px; */
    /* font-weight: 700; */
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  main .section-inicio .image-inicio {
    width: 100%;
  }

  main .section-inicio .image-inicio .img-inicio {
    margin: 0 auto;
    height: 264px;
  }

  main .section-inicio .image-inicio .background-inicio {
    position: absolute;
    width: auto;
    height: 324px;
    /* right: 5%; */
    right: 0%;
    margin-top: 16px;
    z-index: 1;
  }

  main .section-servicos .content-servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 12px;
  }

  main .section-servicos .content-servicos .card-servicos {
    row-gap: 1rem;
    max-width: 232px;
    height: 272px;
    padding: 1rem;
  }

  main .section-servicos .content-servicos .card-servicos .txt-info {
    width: 90%;
    font-size: 16px;
    line-height: 20px;
  }

  main .section-servicos .content-servicos .card-servicos .txt-gradient {
    font-size: 18px;
    line-height: 20px;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos {
    width: 48px;
    height: 48px;
    padding: 1rem;
  }

  main
    .section-servicos
    .content-servicos
    .card-servicos
    .circle-ilustration-servicos
    .img-servico {
    width: 48px;
  }

  main .section-produto {
    /* width: 85%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:   3rem; */
  }

  main .section-produto .content-produto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 120px;
  }

  main .section-produto .content-produto .image-produto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .section-produto .content-produto .image-produto .background-produto {
    position: absolute;
    width: 100%;
    height: 324px;
    left: 0%;
    margin-top: 15%;
  }

  main
    .section-produto
    .content-produto
    .image-produto
    .circle-produtos
    .img-produto {
    width: auto;
    height: 48px;
  }

  main .section-produto .content-produto .image-produto .circle-produtos {
    /* position: relative; */
    height: 200px;
    width: 200px;
  }

  main .section-produto .content-produto .informacoes-produto {
    width: 95%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 24px;
    margin: 0 auto;
    /* border: 1px solid; */
  }

  main .section-produto .content-produto .informacoes-produto .txt-gradient {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.07rem;
  }

  main .section-produto .content-produto .informacoes-produto .texto-produto {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  main
    .section-produto
    .content-produto
    .informacoes-produto
    .texto-produto
    .txt-descricao-produto {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }

  main .section-quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }

  main .section-quem-somos .content-quem-somos {
    width: 100%;
  }

  main .section-quem-somos .content-quem-somos .background-quem-somos {
    position: absolute;
    width: 100%;
    height: 350px;
    right: -20%;
    top: 315%;
    z-index: 999;
  }

  main .section-quem-somos .content-quem-somos .grid-quem-somos {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    z-index: 999;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos {
    position: relative;
    background-color: white;
    max-width: 212px;
    height: 142px;
    row-gap: 16px;
    box-shadow: -10px 4px 2px rgba(0, 0, 0, 0.15);
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .img-quem-somos {
    margin-top: -30%;
    height: 88px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .title-quem-somos {
    font-size: 16px;
  }

  main
    .section-quem-somos
    .content-quem-somos
    .grid-quem-somos
    .card-quem-somos
    .subtitle-quem-somos {
    font-size: 14px;
    line-height: 16px;
  }

  main .section-contato form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  main .section-contato form .input iconify-icon {
    font-size: 16px;
    margin-left: -40px;
  }

  main .section-contato form input,
  main .section-contato form textarea {
    width: 60vw;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(
          100deg,
          rgba(149, 49, 224, 1) 0%,
          rgba(56, 236, 233, 1) 100%
        )
        border-box;
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 10px 20px;
    height: 24px;
    font-size: 14px;
  }

  main .section-contato form .input-contato-descricao {
    height: 96px;
    resize: none;
    padding: 14px 20px;
    border-radius: 1.5rem;
  }

  footer {
    width: 100%;
    /* height:800px; */
    /* max-height: 210px; */
    background-position-x: 15%;
    background-image: url("./../assets/img/Vetor\ -\ Footer.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 3rem; */
  }

  footer .footer {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-itens: center;
    justify-content: center;
    margin-top: 20rem;
    row-gap: 2rem;
    column-gap: 12rem;
    color: #f5f5f5;
  }

  footer .footer-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    /* justify-content: flex-start; */
  }

  footer .footer-redes-sociais .logo-footer {
    height: 64px;
  }

  footer .footer-redes-sociais .redes-sociais {
    display: flex;
    column-gap: 1rem;
  }

  footer .footer-redes-sociais .redes-sociais .circle-footer {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    position: relative;
    font-size: 32px;
  }

  footer .footer-ul {
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
  }

  footer .footer-ul ul {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  footer .footer-ul li a,
  footer .footer-ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--branco-opacidade);
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    row-gap: 32px;
    column-gap: 16px;
    font-size: 16px;
    transition: all 0.4s linear;
  }

  footer .footer .footer-ul li {
    width: 100%;
  }

  footer .footer li a:hover {
    color: var(--branco);
  }

  footer .footer .footer-ul iconify-icon,
  footer .footer span {
    color: var(--branco-opacidade);
  }

  footer .footer .footer-ul iconify-icon {
    font-size: 18px;
  }

  footer .footer .footer-ul:last-child {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-itens: center;
  }

  footer .copyright {
    width: 80%;
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: 14px;
    color: var(--branco);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  footer .footer-ul .footer-title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--texto-branco);
    font-size: 24px;
    font-weight: 600;
  }

  button {
    padding: 0px 20px;
    height: 36px;
    border-radius: 100px;
  }

  .btn-background {
    letter-spacing: 0rem;
    font-size: 14px;
  }

  .btn-border {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}
